# fastapi==0.111.0
# uvicorn[standard]==0.29.0
# pydantic==2.7.1
# python-dateutil==2.9.0

# FastAPI Backend
fastapi==0.111.0
uvicorn[standard]==0.29.0
pydantic==2.7.1
python-dateutil==2.9.0

# Streamlit Dashboard
streamlit==1.35.0
plotly==5.22.0
requests==2.32.3